
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

/* resetiing css. source:https://meyerweb.com/eric/tools/css/reset/ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}




*, *::before, *::after {
  box-sizing: border-box;
}


body {
    color: #E0E0E0;
    /* background-color: #000000; */
    font-family: "Playfair Display";
    background-image:  linear-gradient( rgb(0, 0, 0), rgb(0, 0, 0), rgba(26, 0, 73, 1), rgba(26, 0, 73, 1)) ;;
}



header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding: 0 2rem; */
    /* cursor: none; */

}

h1 {
    font-size: 10vw;
    line-height: 1.1;
    word-break: break-word;
    overflow-wrap: break-word;
}

/* creaditing https://codingartistweb.com/2025/07/flashlight-effect-with-html-css-and-javascript/ 
 for the flash effect */

#flashlight {
    --Xpos: 50vw;
    --Ypos: 40vh;
    --radius: 10em;
}



#flashlight:before {
    
    content: "";
    display: block;
    left:0px;
    right:0px;
    height: 100vh;
    position: absolute;
    pointer-events: none;
    background: radial-gradient(circle var(--radius) at var(--Xpos) var(--Ypos),
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1));
    
}


h2 {
    font-size:2.5vw;
    text-align: center;
    padding:2vh 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 30vh 15vw 2vw 15vw; */
    /* color: rgba(224,224,224,0) ; */
    
}

#mainDiv{
    display:flex;
    flex-direction: column;

    padding: 30vh 15vw 5vh 15vw;
    justify-content: center;
    gap: 100px;
}

section {
    padding: 10vh 0 20vh 0;
    font-size: 5vw;
   
}

hr {
    padding: 0 0 5vh 0;
    border:0;
    border-top: solid 1px;
    border-image: linear-gradient( to right, rgb(0, 0, 0), rgb(225, 225, 225, 0.7) , rgb(0, 0, 0)) 1;
}

.content {
    font-size: 1.5vw;
    padding: 0 0 0 50px;
}

header img {
    width: 100px;
}



.title {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    padding: 0 0 2vh 0
    
}

.title img
{
    width:30px;
    height: 30px;
}


nav{
    position: fixed;
    z-index:2;
    top:-50px;
    animation: navDropDown 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}


@keyframes navDropDown {
    from {top:-50px;}
    to {top:15px;}
}

nav ul {
  list-style-type: none;
box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(224, 224, 224, 0.4) 0px 18px 36px -18px inset;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  width:50vw;
  gap:30px;
}

nav ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.3vw;
}

nav ul li a:hover {
  background-color: #111111;
  border-radius: 10px;
}

#spinningStars { 
    display: flex;
    justify-content: center;
    gap:0px;
    animation: moving 2s infinite ;
    animation-fill-mode:both;
    animation-timing-function: ease-in-out;
    
}
#spinningStars img {
    opacity: 0.6;
    animation: rotating 2s infinite;
}

@keyframes rotating {
  100% {transform: rotate(360deg);}
}

@keyframes moving {
  0% {gap:0px;}
  50% {gap:90px;}
  100% {gap:0px;}
}

.centeringDiv{
    display: flex;
    justify-content: center;
    

}

.centeringDiv ul {
    width: 50vw;
    height: 40vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 10px 10px rgba(34, 0, 95,0.5);
    flex-wrap: wrap;
   column-gap: 2vw;
   row-gap: 2vw;
   align-content:center;
}

.movingDiv {
    position: relative;
    opacity:0;
}

@keyframes riseFade {
  0% {
    bottom: -30px;
    opacity: 0;
    transform:scale(0.8);
  }
  50% {
    bottom: 30px;
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    bottom: 0px;
    opacity: 1;
    transform: scale(1);
  }
}

#skillList {
    padding:0px 15px;
}

#projectPanel{
height: 100px;
display: flex;
justify-content: center;
width:100%;
height: 100%;
  left: 0;
  right: 0;
  position: relative;
}

.projectCard img {
    width:35vh;
    filter: blur(0);

}

.projectCard img:hover{
animation: cardPicking 1s;
animation-fill-mode: both;
}

.projectCard img:not(:hover){
    animation: cardUnPicking 1s;
    animation-fill-mode: both;
}

@keyframes cardUnPicking {
    0% {transform: translateY(-10px) scale(1.1)}
    100%{transform: translateY(0) scale(1)}
}
@keyframes cardPicking {
    0% {transform: translateY(0) scale(1)}
    100%{transform: translateY(-10px) scale(1.1)}
}


#projects .title {
    padding-bottom: 60px;
    
}

/* Crediting https://stackoverflow.com/questions/28975673/how-to-blurcss-div-without-blur-child-element-and-without-absolute */
.backgroundChild {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient( rgb(26,0,73), plum,rgb(26,0,73));
  filter: blur(100px);
  z-index: -1;
  height:50%;
}
#skills .title {
    padding-bottom: 10vh;
}





  #projectWindow {
  position: fixed;
  left: 5vw;
  bottom:2vh;
  width: 90vw;
  height: 90vh;
  background-color: #2C2C2C;
    /* box shadow from https://getcssscan.com/css-box-shadow-examples */
  box-shadow: rgba(255, 255, 255, 0.25) 0px 50px 100px -20px, rgba(255, 255, 255, 0.3) 0px 30px 60px -30px, rgba(255, 255, 255, 0.35) 0px -2px 6px 0px inset;
  z-index: 1;
  border-radius:20px;
  display:none;
}

#projectWindow button {
 position: absolute;
  top: 10px;
  right: 10px;
  color:#6db1ff;
  background-color: rgb(58, 58, 58);
  border-radius: 15px;
  height:3vh

}

#projectWindow .backgroundChild{
    position: fixed;
    top:0;
    width:50vh;
    filter: blur(150px);
}

#projectWindowContent{
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
    align-items: flex-start;
    padding:10vh 10vw 5vh 5vw;

}

#projectWindowContent {
    font-size: 5em;
}

footer h2{
    --scaleVar:0.1;
    /* display: inline-block; */
    overflow: hidden;
     font-size: 20vw;
     display: inline-block;
  transform: scale(0.9, var(--scaleVar));
  text-align: center;
  transition: transform 0.1s linear;

}

footer{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    height:100vh;
    gap:10px;
    
}

.contactIcon
{
padding:2vh 0 2vh 0;
display: flex;
justify-content: center;
align-items: flex-end;
gap:1vw;
}

.contactIcon img{
    width:1.5vw;
    align-self: center;
    color: #dda0dd;
    /* the box shadow copied from https://getcssscan.com/css-box-shadow-examples */
    box-shadow: rgba(221, 160, 221, 0.25) 0px 54px 55px, rgba(221, 160, 221, 0.12) 0px -12px 30px, rgba(221, 160, 221, 0.12) 0px 4px 6px, rgba(221, 160, 221, 0.17) 0px 12px 13px, rgba(221, 160, 221, 0.09) 0px -3px 5px;
}


form{
 display: flex;
flex-direction: column;
padding: 5vh 0 2vh 0;
gap:1vh;

}

form > :nth-child(even):not(:last-child) {
  margin-bottom: 10px;
}

input,textarea{
    background-color: rgba(255, 255, 255,0);
    border: 0;
    border-bottom: 1px solid;
    border-image: linear-gradient( to right, rgba(47, 0, 255,0.5), rgb(255, 0, 234, 0.5) , rgba(47, 0, 255,0.5)) 1; ;
    width:20vw;
    height:5vh;
    color:#E0E0E0;
}

textarea{
    height:9vh;
}

input:focus , textarea:focus {
     border-image: linear-gradient( to right, rgba(47, 0, 255,0.5), rgb(255, 0, 234, 1) , rgba(47, 0, 255,0.5)) 1; ;
    outline: none;
}


/* 3d button copied from:https://www.joshwcomeau.com/animation/3d-button/
 */
  .pushable {
    background: hsl(258, 81%, 37%);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    box-shadow: rgba(221, 160, 221, 0.2) 0px 4px 12px;
  }
  .front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    background: hsl(276, 94%, 35%);
    color: white;
    transform: translateY(-6px);
    font-size: 1vw;
    font-family: "Playfair Display";
  }

  .pushable:active .front {
    transform: translateY(-2px);
  }
  /* end of copied code */