
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

/* resetiing css. source:https://meyerweb.com/eric/tools/css/reset/ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    color: #E0E0E0;
    /* background-color: #000000; */
    font-family: "Playfair Display";
    background-image:  linear-gradient( rgb(0, 0, 0), rgb(0, 0, 0), rgba(26, 0, 73, 1) ) ;;
}


header {
    height: 100vh;
    /* full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
    cursor: none;

}

h1 {
    font-size: 10vw;
    line-height: 1.1;
    word-break: break-word;
    overflow-wrap: break-word;
}

/* creaditing https://codingartistweb.com/2025/07/flashlight-effect-with-html-css-and-javascript/ 
 for the flash effect */

#flashlight {
    --Xpos: 50vw;
    --Ypos: 40vh;
    --radius: 10em;
}



#flashlight:before {
    
    content: "";
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    pointer-events: none;
    background: radial-gradient(circle var(--radius) at var(--Xpos) var(--Ypos),
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1));
    
}


h2 {
    font-size:0.5em;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30vh 15vw 2vw 15vw;
    color: rgba(224,224,224,0) ;
    
}

section {
    padding: 5vh 0 20vh 0;
    font-size: 5vw;
   
}

hr {
    padding: 0 0 5vh 0;
    border:0;
    border-top: solid 1px;
    border-image: linear-gradient( to right, rgb(0, 0, 0), rgb(225, 225, 225, 0.7) , rgb(0, 0, 0)) 1;
}

.content {
    font-size: 0.3em;
    padding: 0 0 0 50px;
}

header img {
    width: 100px;
}

#mainDiv{
    display:flex;
    flex-direction: column;
    gap: 100px;
}

.title {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    padding: 0 0 2vh 0
    
}

.title img
{
    width:30px;
    height: 30px;
}


nav{
    position: fixed;
    z-index:2;
    top:-50px;
    animation: navDropDown 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}


@keyframes navDropDown {
    from {top:-50px;}
    to {top:15px;}
}

nav ul {
  list-style-type: none;
box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(224, 224, 224, 0.4) 0px 18px 36px -18px inset;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  width:50vw;
  gap:30px;
}

nav ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.3em;
}

nav ul li a:hover {
  background-color: #111111;
  border-radius: 10px;
}

span { 
    display: flex;
    justify-content: center;
    gap:0px;
    animation: moving 2s infinite ;
    animation-fill-mode:both;
    
}
span img {
    animation: rotating 2s infinite;
}

@keyframes rotating {
  100% {transform: rotate(360deg);}
}

@keyframes moving {
  0% {gap:0px;}
  50% {gap:90px;}
  100% {gap:0px;}
}

.centeringDiv{
    display: flex;
    justify-content: center;
    

}

.centeringDiv ul {
   
    width: 50vw;
    height: 40vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 10px 10px rgba(34, 0, 95,0.5);
    flex-wrap: wrap;
   column-gap: 2vw;
   row-gap: 2vw;
   align-content:center;
}

.movingDiv {
    position: relative;
    opacity:0;
}

@keyframes riseFade {
  0% {
    bottom: -60px;
    opacity: 0;
    transform: translateX(0) scale(0.8);
  }
  50% {
    bottom: 60px;
    opacity: 1;
    transform: translateX(0) scale(1.05);
  }
  100% {
    bottom: 0px;
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

#skillList {
    padding:0px 15px;
}



